MONGODB_URI=mongodb+srv://aaqueelphotos_db_user:Z8NPUThldyeypEEQ@cluster0.ktted0m.mongodb.net/ONS-RVM?retryWrites=true&w=majority
MONGODB_DBNAME=ONS-RVM
JWT_SECRET=rvm-isp-production-secret-key-2026-aapanel
ADMIN_USERNAME=admin
ADMIN_PASSWORD=adminpassword
PORT=3131
VITE_API_URL=http://localhost:3131
